* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* *********** Background Color *********** */
.bg-dark{
    background-color: #0a0a0a;
}

/* *********** Font Settings *********** */
.text-secondary {
  color: #ffac12;
}

.text-primary {
}

.text-light {
  color: rgb(153, 146, 146);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #ffac12;
}

/* *********** Button Settings *********** */
.btn {
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn.btn-primary {
  background-color: #ffac12;
  padding: 0.3rem 1rem;
}

.btn.btn-secondary {
  background-color: #0a0a0a;
  padding: 0.3rem 1rem;
  color: #fff;
}

/* **************** Dividers *****************/
.divider {
  /* border-top: 0.2rem #ffac12 solid;
      width: 3rem; */
}

/* ********** container *********** */
.container div {
  margin-bottom: 4rem;
}

.hero-section {
  background-image: url("../images/moving\ 1.png");
  background-position: center;
  background-size: cover;
  height: 50rem;
  margin: 0 auto;
}

.hero-content {
  font-size: 1.5rem;
  padding: 7rem;
  max-width: 65rem;
}

.hero-content p {
  margin-bottom: 3rem;
}

.hero-content .hero-content-big {
  font-size: 5rem;
}

.hero-content .hero-content-small {
  width: 30rem;
  font-size: 2rem;
}

/* ********** Navigation *********** */

nav.nav-main {
  padding-top: 3rem;
}

nav.nav-main ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 2rem 10rem 0;
}

nav.nav-main ul li {
  margin-left: 4.5rem;
  font-size: 1.2rem;
}

/* ********** hustle section *********** */

.hustle-section {
  display: inline-block;
}

.hustle-section .hustle-image img {
  width: 30rem;
  float: left;
}

.hustle-section .hustle-image img {
  margin-right: 2rem;
}

.hustle-section .hustle-content {
  /* display: flex;
   flex-direction: column;
   justify-content: center; */
}

.hustle-section .hustle-content p,
.hustle-section .hustle-content h1,
.hustle-section .hustle-content div {
  margin-bottom: 2rem;
}

.hustle-section .hustle-content p
{
 font-size: 1.2rem;
 padding: 0 15rem;
 /* width: 35rem; */
}

.btn-tertiary{
    color: #ffac12;
    padding: 1rem 2rem;
    border-radius: 0 1.5rem 0 0;
}